# Node dependencies
node_modules/

# Environment variables
.env

# Logs
logs
*.log

# Temp files and sessions (WhatsApp, Puppeteer, etc.)
tmp/
wwebjs_auth/
.wwebjs_auth
.wwebjs_cache/
session/
sessions/
cookies/
*.sqlite
auth_info_bmms

# OS junk files
.DS_Store
Thumbs.db
